body {
  background-color: #b1b78b;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.productCard {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.productDetails {
  padding: 15px;
  background-color: #dacdab;
  text-align: left;
}

.productDetails h2 {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: 15px;
}

.productDetails h1 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
}

.productDetails p {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}

.productDetails h3 {
  color: #80703a;
  font-size: 20px;
}

.productDetails button {
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #dcc26d;
  color: hsla(0, 87%, 3%, 0.904);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.productImage img {
  width: 300px;
  height: 100%;
  display: block;
}

/* responsive */

@media (max-width: 450px) {
  .productCard {
    max-width: 350px;
    max-height: 270px;
  }

  .productImage img {
    width: 150px;
    height: 100%;
  }

  .productDetails h2 {
    font-size: 9px;
  }

  .productDetails h1 {
    font-size: 15px;
  }

  .productDetails p {
    font-size: 10px;
  }
  .productDetails h3 {
    font-size: 13px;
  }

  .productDetails button {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .productCard {
    max-width: 500px;
    max-height: 350px;
  }

  .productImage img {
    width: 250px;
    height: 100%;
  }

  .productDetails h2 {
    font-size: 13px;
  }

  .productDetails h1 {
    font-size: 19px;
  }

  .productDetails p {
    font-size: 11px;
  }
  .productDetails h3 {
    font-size: 16px;
  }

  .productDetails button {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }
}
